/* Style for an element with an id of "tit" */
#tit {
    position: relative; /* Positioning is relative to its normal position */
    left: 50%; /* Shift the element 50% to the right */
    right: 50%; /* Shift the element 50% to the left */
  }
  
  /* Style for the h1 element inside an element with an id of "tit" */
  #tit h1 {
    color: lightblue; /* Set the font color to light blue */
    font-style: italic; /* Set the font style to italic */
  }
  
  /* Style for an unordered list element */
  ul {
    background-color: white; /* Set the background color to white */
    border: solid 1px #ddd; /* Set the border to a solid gray color */
    border-radius: 4px; /* Set the border radius to make the edges rounded */
    padding-left: 0px; /* Remove left padding */
  }
  
  /* Style for the li elements inside an unordered list */
  ul li {
    list-style-type: none; /* Remove the bullet point from the list */
    border-bottom: solid 1px #ddd; /* Add a gray border to the bottom of each list item */
    padding: 15px; /* Add padding to each list item */
    padding-right: 0px; /* Remove right padding */
  }
  
  /* Style for an element with an id of "map" */
  #map {
    width: 500px; /* Set the width of the map element to 500 pixels */
    height: 500px; /* Set the height of the map element to 500 pixels */
    position: absolute; /* Set the position to "absolute" */
    top: 60%; /* Set the top position to 60% */
    left: 50%; /* Set the left position to 50% */
    transform: translate(-50%, -50%); /* Use transform to center the div */
    padding: 10px; /* Add padding to the map element */
    border-radius: 4px; /* Set the border radius to make the edges rounded */
  }
  