/*Estilo del los objetos mapa*/
#map { 
    position: absolute; /* establece la posición absoluta */
    right: 0; /* coloca el mapa en la parte superior */
    bottom: 0; /* estira el mapa hasta la parte inferior */
    top: 0;
    width: 50%; /* establece el ancho al 100% de su contenedor */
    height: 100%; /* estira el mapa hasta la parte inferior */
    margin-right: 70px;
    margin-bottom: 10px;
  }  